/* CSS Document */
/*头部*/
header {
	width: 7.5rem;
	height: 1.1rem;
	margin: 0 auto;
}
header form {
	width: 100%;
	height: 1.1rem;
	padding-left: 0.62rem;
	padding-top: 0.24rem;
	background: #fff;
	border-bottom: 0.01rem solid #d9d9d9;
	position: relative;
}
header form input[type=text] {
	width: 5rem;
	height: 0.64rem;
	color: #000;
	font-weight: 500;
	font-size: 0.28rem;
	line-height: 0.64rem;
	padding-left: 0.12rem;
	border: 0.01rem solid #d9d9d9;
}
header form input::-webkit-input-placeholder {
 color: #000;
}
header form .place {
	width: 0.64rem;
	height: 0.64rem;
	display: block;
	background: #c7c7c7;
	position: absolute;
	top: 0.24rem;
	right: 1.25rem;
}
header form .place img {
	width: 0.64rem;
	height: 0.64rem;
}
header form .write {
	color: #63b200;
	font-size: 0.3rem;
	position: absolute;
	top: 0.34rem;
	right: 0.22rem;
}
/*购物栏*/
.shop {
	width: 7.5rem;
	height: 11.8rem;
	background: #f0f0f0;
	margin: auto;
}
/*商品*/
.shop dl {
	width: 100%;
	height: 2.12rem;
	background: #fff;
	border: 0.01rem solid #d9d9d9;
	padding: 0.32rem 0.25rem;
}
.shop dl dt {
	width: 2.2rem;
	height: 1.51rem;
	position: relative;
}
.shop dl dt b {
	width: 0.4rem;
	height: 0.4rem;
	display: block;
	border-radius: 50%;
	border: 0.02rem solid #888;
	position: absolute;
	top: 0.55rem;
	left: 0;
}
.shop dl dt .active {
	border: 0 none;
	background: #63b200;
}
.shop dl dt .active img {
	width: 0.4rem;
	height: 0.4rem;
}
.shop dl dt a {
	width: 1.5rem;
	height: 1.5rem;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
}
.shop dl dt a img {
	width: 1.5rem;
	height: 1.5rem;
}
.shop dl dd {
	width: 4.55rem;
	height: 1.5rem;
	float: right;
	margin-top: -1.5rem;
	position: relative;
}
.shop dl dd a {
	color: #000;
	font-size: 0.28rem;
}
.shop dl dd h1 {
	color: #f66200;
	font-weight: 400;
	position: absolute;
	bottom: 0.25rem;
}
.shop dl dd h1 i {
	font-size: 0.24rem;
	font-style: normal;
}
.shop dl dd h1 b {
	font-weight: 400;
	font-size: 0.28rem;
	font-style: normal;
}
.shop dl dd h1 em {
	font-size: 0.24rem;
	font-style: normal;
}
.shop dl dd p {
	color: #888;
	font-size: 0.24rem;
	position: absolute;
	bottom: 0;
	left: 0.05rem;
}
.shop dl dd input {
	width: 0.84rem;
	height: 0.64rem;
	color: #000;
	font-size: 0.3rem;
	text-align: center;
	/*padding-left: 0.3rem;*/
	border-radius: 0.06rem;
	border: 0.01rem solid #929292;
	position: absolute;
	bottom: 0;
	right: 0;
}
.shop .infor {
	width: 100%;
	height: 1.52rem;
	background: #fff;
}
.shop .infor h2 {
	width: 6.38rem;
	float: right;
	font-size: 0.26rem;
	line-height: 0.64rem;
	font-weight: 400;
	border-bottom: 0.01rem solid #d9d9d9;
}
.shop .infor p {
	width: 100%;
	font-size: 0.26rem;
	line-height: 0.86rem;
	display: inline-block;
	padding-left: 0.52rem;
	border-bottom: 0.01rem solid #d9d9d9;
}
.shop .infor p span {
	width: 0.32rem;
	height: 0.32rem;
	color: #63b200;
	text-align: center;
	line-height: 0.32rem;
	margin-right: 0.1rem;
	display: inline-block;
	border-radius: 50%;
	border: 0.01rem solid #63b200;
}
/*结算*/
.back {
	width: 7.5rem;
	margin: 0 auto;
}
.back .count {
	width: 7.5rem;
	height: 1rem;
	background: #fff;
	position: fixed;/*参照物*/
	z-index: 11;
	bottom: 0.98rem;
}
.back .count .price {
	width: 5rem;
	height: 100%;
	padding-left: 0.98rem;
	padding-top: 0.08rem;
	border-top: 0.01rem solid#d9d9d9;
}
.back .count .price h3 {
	font-size: 0.3rem;
	font-weight: 400;
}
.back .count .price h3 i {
	color: #f66200;
	font-size: 0.26rem;
	font-style: normal;
	margin-left: 0.2rem;
}
.back .count .price h3 b {
	color: #f66200;
	font-size: 0.3rem;
	font-weight: 400;
}
.back .count .price h3 em {
	color: #f66200;
	font-size: 0.28rem;
	font-style: normal;
}
.back .count .price p {
	margin-top: 0.12rem;
	font-size: 0.24rem;
}
.back .count .price p i {
	font-style: normal;
	margin-left: 0.32rem;
}
.back .count .price p b {
	font-weight: 400;
	margin-left: 0.12rem;
}
.back .count h4 {
	width: 2.5rem;
	color: #fff;
	font-size: 0.32rem;
	text-align: center;
	line-height: 1rem;
	font-weight: 400;
	float: right;
	margin-top: -1rem;
	background: #69aa12;
}
/*底部*/
footer {
	width: 100%;
	height: 0.98rem;
	background: #fff;
	position: fixed;/*参照物*/
	z-index: 11;
	bottom: 0;
	border-top: 0.01rem solid #d9d9d9;
}
footer ul li {
	width: 25%;
	color: #969696;
	text-align: center;
	font-size: 0.24rem;
	float: left;
	padding: 0.09rem 0 0.08rem 0;
}
footer ul li a img {
	width: 0.5rem;
	height: 0.5rem;
	display: block;
	margin: 0 auto;
}
footer ul li .icon {
	color: #646464;
}
footer ul .active a {
	color: #a8d00b;
}
