/* CSS Document */
header{ width:100%; height:95px; border-bottom:1px solid #e4e4e4;}
header .top{ width:100%; height:15px; background:#02328d; margin:0 auto;}
header .box{ width:1200px; height:80px; margin:0 auto;}
header .box h1 img{ float:left;}
header .box .main_nav{ width:765px; height:80px; float:left; margin-left:20px;}
header .box .main_nav ul{}
header .box .main_nav ul li{ float:left; height:80px; text-align:center; padding:25px 20px 25px 20px; border-right:1px solid #f2f2f2;
line-height:20px; position:relative; display:block;}
header .box .main_nav ul li a{ display:block;}
header .box .main_nav ul li .dad{}
header .box .main_nav ul li h5{ font-size:14px; color:#000000; width:100%;}
header .box .main_nav ul li p{ font-size:12px; color:#cdcaca;}
header .box .main_nav li:hover { background:#02328d; transition:all ease 0.5s;}
header .box .main_nav li:hover h5{ color:rgba(255,255,255,1);}
header .box .main_nav li:hover p{ color:#cacaca;}
header .box .right{ width:185px; height:80px; float:left; margin-top:35px; position:relative; margin-left:20px;}
header .box .right span{ margin-left:10px; margin-right:10px; color:#989696;}
header .box .right .aygf{ font-size:13px; color:#989696;}
header .box .right .zy{ font-size:13px; color:#989696;}
header .box .right .header-search{ width:80px; height:80px; float:left; background:url(../images/search.png) no-repeat center center;
position:absolute; top:-35px; left:120px;}
header .box .right .header-search:hover{ background:#02328d url(../images/search.png) no-repeat center center;}
header .box .right .aygf:hover{ color:#02328d;}
header .box .right .zy:hover{ color:#02328d;}

.section9{ width:100%; height:455px; position:relative;}
.section9 img{ width:100%; height:455px; position:absolute; top:0; left:0; z-index:10px; position:absolute;}
.section9 .section9_list{ width:1200px; height:400px; margin:0 auto; float:left; position:absolute; left:50%; margin-left:-600px;}
.section9 .section9_list a{ width:400px; height:400px; display:block; float:left; z-index:11px; position:relative;}
.section9 .section9_list .ab1{ width:400px; height:400px; background:url(../images/ch01.png) no-repeat  center ;}
.section9 .section9_list .ab2{ width:400px; height:400px; background:url(../images/ch03.png) no-repeat  center ;}
.section9 .section9_list .ab3{ width:400px; height:400px; background:url(../images/ch05.png) no-repeat  center ;}
.section9 .section9_list a .max{ width:280px; height:280px; position:absolute; top:60px; left:60px;}
.section9 .section9_list a .max img{ width:100%; height:280px; display:none;}
.section9 .section9_list a:hover .max img{ width:100%; display:block; transition:all ease 1s;}

.aychina{ width:100%; height:1292px; background:url(../images/ch11.jpg) no-repeat center bottom;}
.aychina .aychina_box{ width:1200px; height:1292px; margin:0 auto; margin-top:35px;}
.aychina .aychina_box .aychina_tit{ width:1200px; height:135px; text-align:center; margin-bottom:50px;}
.aychina .aychina_box .aychina_tit h2{ font-size:40px; font-weight:500; color:#4b4b4b; margin-bottom:20px;}
.aychina .aychina_box .aychina_tit h5{ font-size:18px; color:#333333; margin-bottom:10px;}
.aychina .aychina_box .aychina_tit p{ font-size:14px; color:#c1c1c1;}
.aychina .aychina_box .china{ width:1103px; height:334px; margin:0 auto; margin-bottom:100px;}
.aychina .aychina_box .china img{ float:left;}
.aychina .aychina_box .china .china_r{ width:323px; height:334px; background:url(../images/ch10.png) no-repeat; float:right; 
padding:80px 50px 0 45px;}
.aychina .aychina_box .china .china_r h3{ font-size:30px; font-weight:500; color:#ffffff; margin-bottom:10px;}
.aychina .aychina_box .china .china_r p{ width:185px; height:55px; font-size:18px; color:#fff9f2;}
.aychina .aychina_box .ay_js{ width:1103px; height:370px; margin:0 auto;}
.aychina .aychina_box .ay_js .js_l{ width:545px; height:370px; float:left; padding-right:40px; border-right:1px solid #e1dfdc;}
.aychina .aychina_box .ay_js .js_l p{ text-indent:30px; margin-bottom:60px; font-size:14px; color:#666666; line-height:30px;}
.aychina .aychina_box .ay_js .js_r{ width:558px; height:370px; float:right; padding-left:40px;}
.aychina .aychina_box .ay_js .js_r .r_tit{ width:320px; height:35px; margin-bottom:30px;}
.aychina .aychina_box .ay_js .js_r .r_tit h3{ float:left; font-size:32px; color:#4b4b4b; margin-right:15px; line-height:36px;}
.aychina .aychina_box .ay_js .js_r .r_tit h4{ font-size:30px; color:#bdbcba; line-height:32px;}
.aychina .aychina_box .ay_js .js_r ul{ width:522px; height:306px;}
.aychina .aychina_box .ay_js .js_r ul li{ width:100%; height:34px; float:left;}
.aychina .aychina_box .ay_js .js_r ul li span{ float:left; font-size:24px; color:#333333; display:block; padding-right:30px;}
.aychina .aychina_box .ay_js .js_r ul li p{ font-size:14px; color:#999999; line-height:34px; background: url(../images/li1.jpg) no-repeat 25px; center; }

.history{ width:100%; height:2500px; background:url(../images/his1.jpg) no-repeat center top;}
.history .history1200{ width:1200px;margin:0 auto;}
.history .history1200 .history_tit{ width:1200px; height:135px; text-align:center; padding-top:100px; margin-bottom:250px;}
.history .history1200 .history_tit h2{ font-size:60px; font-weight:800; color:#FFF; margin-bottom:20px}
.history .history1200 .history_tit h3{ font-size:35px;color:#FFF;}
.history .history1200 .history_box{ width:1140px; height:2500px; background:url(../images/li2.jpg) center repeat-y; margin:0 auto;
padding:60px 0 206px;}
.history .history1200 .history_box ul{ width:1140px; margin:0 auto;}
.history .history1200 .history_box ul li{width:1140px; margin:0 auto; padding-bottom:60px; margin-bottom:50px;}
.history .history1200 .history_box ul li span{ display:block; width:150px; height:40px; border:1px solid #eeeeee; border-radius:30px;
text-align:center; line-height:40px; margin:0 auto 148px; font-size:24px; font-weight:800; color:#666666;}
.history .history1200 .history_box ul li .fir{ float:left; background:url(../images/his1.png) no-repeat right top;}
.history .history1200 .history_box ul li .son{ width:581px;margin-top:-42px;}
.history .history1200 .history_box ul li .fir .info-box{ width:510px; height:200px; padding:40px 25px; background:#f1f1f1;
border-radius:10px; float:left;}
.history .history1200 .history_box ul li .info-box img{ display:block; width:177px; float:left;}
.history .history1200 .history_box ul li .info-box p{ float:right; width:250px; font-size:14px; color:#666; line-height:25px;}
.history .history1200 .history_box ul li:hover span{ color:#426cba;}
.history .history1200 .history_box ul li .fir:hover{ background:url(../images/his2.jpg) no-repeat right top;}
.history .history1200 .history_box ul li .fir:hover .info-box{ background:#426cba; transition:all ease 1s;}
.history .history1200 .history_box ul li .fir:hover .info-box p{ color:rgba(255,255,255,1);}
.history .history1200 .history_box ul li span{ display:block; width:150px; height:40px; border:1px solid #eeeeee; border-radius:30px;
text-align:center; line-height:40px; margin:0 auto 148px; font-size:24px; font-weight:800; color:#666666;}
.history .history1200 .history_box ul li .sec{ float:right; background:url(../images/his1.png) no-repeat left top; margin-left:200px;}

.history .history1200 .history_box ul li .sec .info-box{ width:510px; height:250px;padding:38px 25px; background:#f1f1f1;
border-radius:10px; float:right;}
.history .history1200 .history_box ul li .sec .info-box img{display:block; width:177px; float:left;margin-right:25px}
.history .history1200 .history_box ul li .sec .info-box p{ font-size:14px; color:#666; line-height:25px;}
.history .history1200 .history_box ul li .sec:hover{ background:url(../images/his2.jpg) no-repeat left top;}
.history .history1200 .history_box ul li .sec:hover .info-box{ background:#426cba; transition:all ease 1s;}
.history .history1200 .history_box ul li .sec:hover .info-box p{ color:rgba(255,255,255,1);}
.history .history1200 .history_box a{ display:block;width:205px; height:48px; background:#005ea6; color:rgba(255,255,255,1);
border-radius:20px; margin:0 auto; text-align:center; font-size:16px; line-height:48px; margin-top:150px;}



.section7{ width:100%; height:70px; background:#005ea6;}
.section7 .section7_box{ width:1200px; height:70px; margin:0 auto;}
.section7 .section7_box .l{ float:left; width:120px; height:70px; line-height:70px;}
.section7 .section7_box .l p{ float:left; font-size:14px; color:#5375a6;}
.section7 .section7_box .l span{ font-size:14px; color:#fff;}
.section7 .section7_box .r{ float:right; width:190px; height:70px; line-height:70px;}
.section7 .section7_box .r p{ font-size:15px; color:#5375a6; margin-right:15px; float:left;}
.section7 .section7_box .r .tb{ width:70px; height:70px; float:left; line-height:70px; position:relative;}
.section7 .section7_box .r .tb a{ display:block; width:28px; height:28px;}
.section7 .section7_box .r .tb .wb{ background: url(../images/weibo.png) no-repeat;position:absolute; left:0; top:20px;}
.section7 .section7_box .r .tb .wx{ background: url(../images/weixin.png) no-repeat; position:absolute; left:40px; top:20px;}
.section7 .section7_box .r .tb .wx img{ width:145px; height:145px; position:absolute; top:-155px; right:0; display:none;}
.section7 .section7_box .r .tb .wx:hover img{ display:block;}

.section8{ width:100%; height:318px; background:#f7f7f7;}
.section8 .section8_box{ width:1200px; height:318px; margin:0 auto; padding-top:55px;}
.section8 .section8_box .section8_l{ width: 810px; height:200px; border-right:1px solid #eaeaea; float:left;}
.section8 .section8_box .section8_l ul{ width:840px; height:200px;}
.section8 .section8_box .section8_l ul li{ width:140px; height:200px; float:left;}
.section8 .section8_box .section8_l ul li dl{ height:135px;}
.section8 .section8_box .section8_l ul li dl dt{ width:100%; height:36px; background: url(../images/li3.jpg) no-repeat left bottom; margin-bottom:12px;}
.section8 .section8_box .section8_l ul li dl dt a{font-size:14px; color:#6a6a6a
	;}
.section8 .section8_box .section8_l ul li dl dd{height:30px;}
.section8 .section8_box .section8_l ul li dl dd a{ font-size:13px; color:#999999;}
.section8 .section8_box .section8_l a:hover{ color:#005ea6;}
.section8 .section8_box .section8_r{ width:315px; height:120px; float:left; margin-left:60px;}
.section8 .section8_box .section8_r h4{ font-size:20px; color:#666666; margin-bottom:20px;}
.section8 .section8_box .section8_r p{line-height:20px; font-size:13px; color:#c0c0c0; padding-bottom:15px;}

footer{ width:100%; height:60px;}
footer .footer_box{ width:1200px; height:60px; margin:0 auto;}
footer .footer_box .footer_l{ float:left; width:260px; height:60px;}
footer .footer_box .footer_l p{ font-size:13px; color:#999999; float:left; margin-right:5px; line-height:60px;}
footer .footer_box .footer_l img{ margin-top:25px;}
footer .footer_box .footer_r{ width:180px; height:60px; float:right; line-height:60px;}
footer .footer_box .footer_r a{ margin-right:10px; font-size:13px; color:#999999;}
footer .footer_box .footer_r a:hover{ color:#005ea6;}