/* CSS Document */
header{ width:100%; height:95px; border-bottom:1px solid #e4e4e4; margin-bottom:0;}
header .top{ width:100%; height:15px; background:#02328d; margin:0 auto;}
header .box{ width:1200px; height:80px; margin:0 auto;}
header .box h1 img{ float:left;}
header .box .main_nav{ width:765px; height:80px; float:left; margin-left:20px;}
header .box .main_nav ul{}
header .box .main_nav ul li{ float:left; height:80px; text-align:center; padding:25px 20px 25px 20px; border-right:1px solid #f2f2f2;
line-height:20px; position:relative; display:block;}
header .box .main_nav ul li a{ display:block;}
header .box .main_nav ul li .dad{}
header .box .main_nav ul li h5{ font-size:14px; color:#000000; width:100%;}
header .box .main_nav ul li p{ font-size:12px; color:#cdcaca;}
header .box .main_nav li:hover { background:#02328d; transition:all ease 0.5s;}
header .box .main_nav li:hover h5{ color:rgba(255,255,255,1);}
header .box .main_nav li:hover p{ color:#cacaca;}
header .box .right{ width:185px; height:80px; float:left; margin-top:35px; position:relative; margin-left:20px;}
header .box .right span{ margin-left:10px; margin-right:10px; color:#989696;}
header .box .right .aygf{ font-size:13px; color:#989696;}
header .box .right .zy{ font-size:13px; color:#989696;}
header .box .right .header-search{ width:80px; height:80px; float:left; background:url(../images/search.png) no-repeat center center;
position:absolute; top:-35px; left:120px;}
header .box .right .header-search:hover{ background:#02328d url(../images/search.png) no-repeat center center;}
header .box .right .aygf:hover{ color:#02328d;}
header .box .right .zy:hover{ color:#02328d;}

.newslist{ width:100%; height:5200px; background:#efefef;}

.newslist .newslist_box{ width:1200px;height:5000px;height:5320px; margin:0 auto;}
.newslist .box_top{ width:100%; height:285px;padding-top:85px;text-align:center;background:url(../images/nw1.jpg) no-repeat center center; }
.newslist .box_top h4{ font-size:26px; font-weight:800; color:#FFF; margin-top:22px;}
.newslist .newslist_box .newslist_nr{ width:1200px; height:4730px; margin-top:50px;}
.newslist .newslist_box .newslist_nr .nr_tit{ width:1200px; height:65px; margin-bottom:25px; text-align:center;}
.newslist .newslist_box .newslist_nr .nr_tit h3{ font-size:30px; font-weight:800; color:#666666; margin-bottom:12px;}
.newslist .newslist_box .newslist_nr .nr_tit span{ font-size:14px; color:#666;}
.newslist .newslist_box .newslist_nr p{ margin-bottom:30px; font-size:14px; color:#666; text-indent:28px; line-height:25px;}
.newslist .newslist_box .newslist_nr p img{ width:800px; height:588px; text-align:center;}
.newslist .newslist_box .newslist_foot{ width:1200px; height:50px;}
.newslist .newslist_box .newslist_foot .foot_left{ width:550px; height:50px; float:left; line-height:25px;}
.newslist .newslist_box .newslist_foot .foot_left p{ font-size:14px; color:#676767;}
.newslist .newslist_box .newslist_foot .foot_left p a{ font-size:13px; color:#676767;}
.newslist .newslist_box .newslist_foot .foot_right{ width:30px; height:25px; float:right; line-height:25px;}
.newslist .newslist_box .newslist_foot .foot_right a{font-size:14px; color:#676767;}
.newslist .newslist_box .newslist_foot .foot_left p:nth-child(1):hover a { color:#005ea6;}
.newslist .newslist_box .newslist_foot .foot_left p:nth-child(2):hover a { color:#005ea6;}
.newslist .newslist_box .newslist_foot .foot_right:hover p { color:#005ea6;}

.section7{ width:100%; height:70px; background:#005ea6;}
.section7 .section7_box{ width:1200px; height:70px; margin:0 auto;}
.section7 .section7_box .l{ float:left; width:120px; height:70px; line-height:70px;}
.section7 .section7_box .l p{ float:left; font-size:14px; color:#5375a6;}
.section7 .section7_box .l span{ font-size:14px; color:#fff;}
.section7 .section7_box .r{ float:right; width:190px; height:70px; line-height:70px;}
.section7 .section7_box .r p{ font-size:15px; color:#5375a6; margin-right:15px; float:left;}
.section7 .section7_box .r .tb{ width:70px; height:70px; float:left; line-height:70px; position:relative;}
.section7 .section7_box .r .tb a{ display:block; width:28px; height:28px;}
.section7 .section7_box .r .tb .wb{ background: url(../images/weibo.png) no-repeat;position:absolute; left:0; top:20px;}
.section7 .section7_box .r .tb .wx{ background: url(../images/weixin.png) no-repeat; position:absolute; left:40px; top:20px;}
.section7 .section7_box .r .tb .wx img{ width:145px; height:145px; position:absolute; top:-155px; right:0; display:none;}
.section7 .section7_box .r .tb .wx:hover img{ display:block;}

.section8{ width:100%; height:318px; background:#f7f7f7;}
.section8 .section8_box{ width:1200px; height:318px; margin:0 auto; padding-top:55px;}
.section8 .section8_box .section8_l{ width: 810px; height:200px; border-right:1px solid #eaeaea; float:left;}
.section8 .section8_box .section8_l ul{ width:840px; height:200px;}
.section8 .section8_box .section8_l ul li{ width:140px; height:200px; float:left;}
.section8 .section8_box .section8_l ul li dl{ height:135px;}
.section8 .section8_box .section8_l ul li dl dt{ width:100%; height:36px; background: url(../images/li3.jpg) no-repeat left bottom; margin-bottom:12px;}
.section8 .section8_box .section8_l ul li dl dt a{font-size:14px; color:#6a6a6a;}
.section8 .section8_box .section8_l ul li dl dd{height:30px;}
.section8 .section8_box .section8_l ul li dl dd a{ font-size:13px; color:#999999;}
.section8 .section8_box .section8_l a:hover{ color:#005ea6;}
.section8 .section8_box .section8_r{ width:315px; height:120px; float:left; margin-left:60px;}
.section8 .section8_box .section8_r h4{ font-size:20px; color:#666666; margin-bottom:20px;}
.section8 .section8_box .section8_r p{line-height:20px; font-size:13px; color:#c0c0c0; padding-bottom:15px;}

footer{ width:100%; height:60px;}
footer .footer_box{ width:1200px; height:60px; margin:0 auto;}
footer .footer_box .footer_l{ float:left; width:260px; height:60px;}
footer .footer_box .footer_l p{ font-size:13px; color:#999999; float:left; margin-right:5px; line-height:60px;}
footer .footer_box .footer_l img{ margin-top:25px;}
footer .footer_box .footer_r{ width:180px; height:60px; float:right; line-height:60px;}
footer .footer_box .footer_r a{ margin-right:10px; font-size:13px; color:#999999;}
footer .footer_box .footer_r a:hover{ color:#005ea6;}